/* All
++++++++++++++++++++++++++++++++++++++++++++++++ */

main {

    height: 120vh;
   

}



/* HEADER 
++++++++++++++++++++++++++++++++++++++++++++++++ */

.header {
    position: fixed;
    top: 0px;
    width: 100vw;
    background-color: white;
    
}

nav ul {
    text-align: center;
}

nav li {

    list-style: none;
    display: inline;
    
}

nav a {
    color: darkgray;
}

nav a:hover {
    color: black;
    text-decoration: none;
    font-style: bold;
}


/* USER INPUT BOX 
++++++++++++++++++++++++++++++++++++++++++++++++ */

.container {
    margin-top: 70px;
}

.container h2 {
    text-align: center;
    background-color: white;
    margin: 5px;
}

.input-box {
    background-color: darkgray;
    padding: 20px;

}