{% extends "parent.html" %}
{% block content %}
<main>
        
<br>
<br>

<div class="container index-header">
        <form method="POST">
                <h2>Enter your information below to calculate your risk of Heart Disease</h2>
                <br>
                <div class="input-box">
                        <label for="age">How old are you?</label>
                        <br>
                        <input type="number" id="age" name="age">
                        <br>
                        <label for="sex">What sex were you assigned at birth?</label>
                        <br>
                        <select name="sex" id="sex">
                                <option value="0">Male</option>
                                <option value="1">Female</option>
                        </select>
                        <br>
                        <label for="cp">Are you experiencing chest pain? If so, what type?</label>
                        <br>
                        <select name="cp" id="cp">
                                <option value=3>No Pain</option>
                                <option value=0>Typical Angina</option>
                                <option value=1>Atypical Angina</option>
                                <option value=2>non-anginal pain</option>
                        </select>
                        <br>
                        <label for="trestbps">What is your resting blood pressure?</label>
                        <br>
                        <input type="number" id="trestbps" name="trestbps">
                        <br>
                        <label for="chol">What is your cholestoral level? (mg/di)</label>
                        <br>
                        <input type="number" id="chol" name="chol">
                        <br>
                        <label for="fbs">Is your fasting blood pressure greater than 120? </label>
                        <br>
                        <select id="fbs" name="fbs">
                                <option value=0>Yes</option>
                                <option value=1>No</option>
                                
                        </select>
                        <br>
                        <!-- <label for="restecg">What are your electrocardiographic results? </label>
                        <br>
                        <select id="restecg" name="restecg">
                                <option value=0>Normal</option>
                                <option value=1>Having ST-T wave abnormality</option>
                                <option value=2>showing probable or definite left ventricular hypertrophy by Estes' criteria</option>
                                <option value=3>Not Sure/Not applicable</option>
                        </select>
                        <br> -->
                        <label for="thalach">What is your maximum heart rate achieved?</label>
                        <br>
                        <input type="number" id="thalach" name="thalach">
                        <br>
                        <label for="exang">Do you experience exercise-induced angina? </label>
                        <br>
                        <select id="exang" name="exang">
                                <option value=0>Yes</option>
                                <option value=1>No</option>
                                <option value=3>Not Sure</option>
                        </select>
                        <br>
                        <!-- <label for="oldpeak">What is you ST depression induced by exercise relative to rest? </label>
                        <br>
                        <input type="number" id="oldpeak" name="oldpeak">
                        <br>                
                        <label for="slope">Is your slope of peak exercise ST semgent either upsloping or downsloping? </label>
                        <br>
                        <select id="slope" name="slope">
                                <option value=0>Upsloping</option>
                                <option value=1>Downsloping</option>
                        </select>
                        <br>
                        <label for="ca">How many major vessels colored by flourosopy? (0-3) </label>
                        <br>
                        <select id="ca" name="ca">
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                        </select>
                        <br>
                        <label for="thal">Do you have Thalassemia? If so, do you experience a fixed defect or a reversed defect? </label>
                        <br>
                        <select id="thal" name="thal">
                                <option value=0>I do not have Thalassemia</option>
                                <option value=1>Fixed defect</option>
                                <option value=2>Reversable defect</option>
                        </select> -->
                        <br>

                        <input type="submit" id="submit" name="submit" >
                </div>
        </form>
</div>

{% block validation %} {% endblock %}



{% endblock %}
