{% extends "parent.html" %}
{% block content %}
<main>
        <div class="container visual-box">
                <div class="data-info" id="info">
                        <h2>About our Data</h2>
                        <br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet praesentium itaque consequuntur, neque minima laborum explicabo hic ad autem numquam omnis aliquid odio, quod nobis cupiditate perferendis aut illo quam!</p>
                        
                        <select name="visualDropDown" id="visualDropDown" class="visualDropDown">
                                <option value="sex">Sex</option>
                                <option value="cp">Chest Pain</option>
                                <option value="ageChol">Cholesterol</option>
                        </select>
                        <br>
                        <br>
                        <div id="myPlot"></div>

                </div>


                <br>
                <br>


                <div class="model-info">
                        <h2>About our Model</h2>
                        <br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet praesentium itaque consequuntur, neque minima laborum explicabo hic ad autem numquam omnis aliquid odio, quod nobis cupiditate perferendis aut illo quam!</p>
                </div>

        </div>

{% endblock %}