{% extends "parent.html" %}
{% block content %}
<main>
        
<br>
<br>

<div class="container index-header">
        <form method="POST" >
                
                <br>
                <div class="input-box">
               
                        <h2>Are you at risk of Heart Disease?</h2>
                        <hr>
                        <br>
                <ul>
                        <li>
                        <label for="age">How old are you?</label>
                        <br>
                        <input type="number" id="age" name="age" required>
                        <br>
                        </li>
                        <li>
                        <label for="sex">What sex were you assigned at birth?</label>
                        <br>
                        <select name="sex" id="sex">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                        </select>
                        <br>
                        </li>
                        <li>
                        <label for="cp">Are you experiencing chest pain? If so, what type?</label>
                        <br>
                        <select name="cp" id="cp">
                                <option value="typical angina">Typical Angina</option>
                                <option value="atypical angina">Atypical Angina</option>
                                <option value="non-anginal pain">Non-Anginal Pain</option>
                                <option value="aysmptomatic">Aysmptomatic</option>
                        </select>
                        <br>
                        </li>
                        <li>
                        <label for="trestbps">What is your resting blood pressure?</label>
                        <br>
                        <input type="number" id="trestbps" name="trestbps" required>
                        <br>
                        </li>
                        <li>
                        <label for="chol">What is your cholestoral level?</label>
                        <br>
                        <input type="number" id="chol" name="chol" required>
                        <br>
                        </li>
                        <li>
                        <label for="fbs">Is your fasting blood pressure greater than 120? </label>
                        <br>
                        <select id="fbs" name="fbs">
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                                
                        </select>
                        
                        <br>
                        </li>
                        <li>
                        <label for="thalach">What is your maximum heart rate achieved?</label>
                        <br>
                        <input type="number" id="thalach" name="thalach" required>
                        <br>
                        </li>
                        <li>
                        <label for="exang">Do you experience exercise-induced angina? </label>
                        <br>
                        <select id="exang" name="exang">
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                                <!-- <option value=3>Not Sure</option> -->
                        </select>
                        <br>
                        </li>
                        <br>
                </ul>
                        <input type="submit" id="submit" class="submit" name="submit" >
                </div>
        </form>
</div>







{% block validation %} {% endblock %}



{% endblock %}
