{% extends "parent.html" %}
{% block content %}
<main>
        
<br>
<br>

<div class="container index-header">
        <form method="POST" >
                <h2>Enter your information below to calculate your risk of Heart Disease</h2>
                <br>
                <div class="input-box">
                        <label for="age">How old are you?</label>
                        
                        <input type="number" id="age" name="age" required>
                        <br>
                        <label for="sex">What sex were you assigned at birth?</label>
                        
                        <select name="sex" id="sex">
                                <option value=0>Male</option>
                                <option value=1>Female</option>
                        </select>
                        <br>
                        <label for="cp">Are you experiencing chest pain? If so, what type?</label>
                        <select name="cp" id="cp">
                                <option value=3>No Pain</option>
                                <option value=0>Typical Angina</option>
                                <option value=1>Atypical Angina</option>
                                <option value=2>non-anginal pain</option>
                        </select>
                        <br>
                        <label for="trestbps">What is your resting blood pressure?</label>
                        <input type="number" id="trestbps" name="trestbps" required>
                        <br>
                        <label for="chol">What is your cholestoral level?</label>
                        <input type="number" id="chol" name="chol" required>
                        <br>

                        <label for="fbs">Is your fasting blood pressure greater than 120? </label>
                        <select id="fbs" name="fbs">
                                <option value=0>Yes</option>
                                <option value=1>No</option>
                                
                        </select>
                        
                        <br>
                        <label for="thalach">What is your maximum heart rate achieved?</label>
                        
                        <input type="number" id="thalach" name="thalach" required>
                        <br>
                        <label for="exang">Do you experience exercise-induced angina? </label>
                        
                        <select id="exang" name="exang">
                                <option value=0>Yes</option>
                                <option value=1>No</option>
                                <option value=3>Not Sure</option>
                        </select>
                        <br>

                        <input type="submit" id="submit" name="submit" >
                </div>
        </form>
</div>

{% block validation %} {% endblock %}



{% endblock %}
