{% extends "parent.html" %}
{% block content %}
<main>
        <div class="container visual-box">
                <div class="data-info">
                        <h2>About our Data</h2>
                        <br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet praesentium itaque consequuntur, neque minima laborum explicabo hic ad autem numquam omnis aliquid odio, quod nobis cupiditate perferendis aut illo quam!</p>
                </div>


                <br>
                <br>


                <div class="model-info">
                        <h2>About our Model</h2>
                        <br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet praesentium itaque consequuntur, neque minima laborum explicabo hic ad autem numquam omnis aliquid odio, quod nobis cupiditate perferendis aut illo quam!</p>
                </div>

        </div>

{% endblock %}